.true {
    background-color: green;
}

.false {
    background-color: red;
}

.true, .false {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card {
    background-color: rgb(127, 127, 127);
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}