.Modal {
    background-color: rgb(119, 119, 119);
    position: fixed;
    left: 42%;
    top: 30%;
    z-index: 2;
    border: 2px solid yellow;

    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        align-self: flex-end;
        position: absolute;
        background-color: transparent;
        width: 10px;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    padding: 30px;
}

.text {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: rgb(201, 201, 201);
    border: 10px solid rgb(201, 201, 201);
    border-radius: 10px;
}

.img {
    width: 100%;
}